[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
papermill = "*"
numpy = "*"
matplotlib = "*"
boto3 = "*"
seaborn = "*"
pandas = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.12"
